@import "variables";
@import "mixins";

.btn {
	display: inline-block;
	padding: 12px 26px 0 76px;
	background: $blue;
	color: $white;
	  background-color: $blue;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	height: 50px;
	@include transition(0.5s);
	&:before {
		content: '';
		position: absolute;
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
		background: url(../img/btn-before.png)no-repeat;
		background-position: 100% 50%;
		@include background-size(cover);
		@include transition(0.5s);
		@include breakpoint($tablet) {
			display: none;
		}
	}
	&:hover {
			background: #d53023;
			@include transition(0.5s);
			background-color: darken($blue, 10);
			&:before {
				background-position: 0 50%;
			}
	}
	@include breakpoint($tablet) {
			width: 80%;
			text-align: center;
			margin-bottom: 1em;
			padding: 0.5em;
	}
	@include breakpoint($phone) {
				width: 80%;
				text-align: center;
				margin-bottom: 1em;
				padding: 0.5em;
				margin-right: auto;
				margin-left: auto;
	}
}
