// Color Palette
$blue: #0a5dab;
$darkblue: darken($blue, 20);
$light_blue: #2871a0;
$text_col: #2d5e8b;
$lightgray: #ebebeb;
$gray: #ebebeb;
$white: #fff;
$black: #000;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);